.userList {
    width: 100%;
    padding: 0 20px;
}

.userGrid {
    margin-top: 50px;
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
}
.message {
    padding: 20px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 15px;
    border-radius: var(--radius);
    font-weight: bold;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 460px) {
    .userGrid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}